*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
p{
	padding-bottom:1em;
}
img{
	max-width: 100%;
	height: auto;	
	display: block;
}

/* HERO */
.hero{margin:0 22% 0 10%;}

/* hero background */
.hero_main-img{position:absolute; right:0; z-index: -1;max-height:60%}
.hero_main-img2{position:absolute; left:0; top:100px; z-index: -1;width:10%;}

/* hero nav */
.hero_nav{display:flex;height:167px;padding: 12px 0 0 0;}

.hero_nav-list{display:flex;align-self:center;}
.hero_nav-list li{list-style: none;}
.hero_nav-list li a{color:black; text-decoration: none;}

.hero_nav-list li:nth-child(n+1){padding:0 0 0 40px;}

.hero_nav-logo{display:flex;align-items:center;flex-direction:column;}

/* hero main */
.hero_type-of-business{color:var(--red)}
.hero_title{padding: 0 0 8px 0;}
.hero_description{padding: 8px 0 8px 0;}

.hero_button-container{display:flex;padding: 18px 0 8px 0;}
.hero_btn1{padding: 24px 16px;}
.hero_btn2-container{display:flex;align-items: center;}
.hero_btn2{
	width:60px;height:60px;margin:0 12px 0 12px;
	color:lightgrey;border-radius:50px;border-color:lightgrey;}
.hero_btn2:hover{border-color:grey;}

.hero_flower-img{padding:50px 0 0 50px;}
.hero_logo-img-bottom{margin:0 auto;padding:10% 0 0 12%;}

/* Procedures */
#procedures {
	max-width: 65rem;
	margin: 0 auto 4rem;
}
#procedures h2 {
	font-size: 4rem;
}
#procedures-h {
	max-width: 40rem;
	margin: 2rem auto;
	text-align: center;
}
#procedures-h p {
	color: #666666;
	margin-top: 1rem;
}
#procedures-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.8rem;
}
#procedures-cards article {
	border: 0.1rem solid #c2bfb6;
	padding: 1rem;
	display: grid;
}
#procedures-cards article *{
	margin: 0 auto;
	padding: 0.8rem;
}
#procedures-cards div {
	max-width: 20rem;
}
#procedures-cards article p {
	color: #666666;
}
#procedures-cards .btnStyle2 {
	width: 10rem;
	text-align: center;
	margin: 2rem auto;
	height: 3.5rem;
}

footer *{
	margin: 0 auto;
	max-width: 100rem;
	padding-bottom: 0.5rem;
	font-family: 'Roboto', sans-serif;
}
footer div {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer ul {
	list-style-type: none;
}
footer a {
	text-decoration: none;
}
#footer-nav {
	display: flex;
	justify-content: space-between;
	max-width: 30rem;
	margin: 0 auto;
}
#footer-nav a {
	color: black;
}
#footer-some {
	display: flex;
	justify-content: space-around;
	max-width: 15rem;
	font-size: 1.2rem;
}
#footer-some a {
	color: var(--black)
}
#footer-rights {
	max-width: 40rem;
	text-align: center;
	color:#797878;
}
#footer-rights a {
	color:var(--red);
}

/* ABOUT */
#about{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem 0;
	flex-direction: column;
	text-align: center;

}


#about h3{
	font-weight: 500;
	font-size: 1.5rem;
	margin: 2rem 0;
	font-family: 'Roboto', sans-serif;
}

#about h2{
	font-size: 4rem;
	margin: 1.5rem 0;
}

#about p{
	width: 60%;
}

#about button{
	font-size: 2;
	padding: 1.5rem 3.5rem;
	border-radius: 40px;
	border: none;
	background-color: var(--red);
	color: white;
	margin-top: 2rem;
}

#about button:hover{
	cursor: pointer;
	background-color: var(--black);
	color: var(--red);
}

#about-rose{
	position: absolute;
	top: 30rem;
	left: 10rem;
}
#about-jasmine{
	position: absolute;
	right: 1rem;
	top: 50rem;
}

#about-gallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	margin-top: 5rem;
}

.galley-image-about{
	width: 100%;
	height: 100%;
	display: block;
}

.about-overlay-background{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #f1b0b0;
	opacity: 0%;
	transition: .5s ease;
}
.about-overlay{
	position: absolute;
	height: 25%;
	width: 25%;
	opacity: 0;
	transition: .5s ease;
}
.about-img-container{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-img-container:hover .about-overlay{
	opacity: 100%;
	cursor: pointer;
}

.about-img-container:hover .about-overlay-background{
	opacity: 80%;
	cursor: pointer;
}

/* TEAM */

.team_title{text-align: center; padding: 60px 0 0 0;}
.team_description{text-align: center; padding: 40px 100px 0 100px; color:grey;}

/* team portraits */
.team_gallery{display:flex; justify-content: space-between; padding: 60px 0;width:800px;margin: 0 auto;}
.team_portrait-container{box-shadow: 1px 2px 8px lightgrey;width:30%;}
.team_gallery-portrait-img{}
.team_gallery-name{text-align: center;font-size:26px;padding:10px 0 2px 0;}
.team_gallery-description{text-align:center;padding:2px 0 10px 0;}
/*--------------- Tablet ---------------*/
@media (max-width: 900px) {
	/* about*/
	#about-gallery {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	#about-rose {
		display: none;
	}
	#about-jasmine {
		display: none;
	}
	/* team */
	.team_gallery {
		flex-direction: column;
		align-items: center;
		width: unset;
	}
	.team_portrait-container {
		margin-bottom: 2rem;
		width: unset;
	}

}
/*--------------- Phone ---------------*/
@media (max-width: 520px) {
	#about-gallery {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		padding: 0 1rem;
	}

}







